button[type="button"] {
  background-color: lightgrey;
  color: black;
  border: 1px solid lightgrey;
}

.area-list {
  height: 20rem;
}

.dropdown-item {
  height: 20rem;
  display: flex !important
}