.header-container {
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 4;
    padding: 15px 25px !important;
}

.logo {
    width: 150px;
    height: auto;
    padding: 6px;
}

.search-container {
    position: relative;
    top: 10px;
}

.search-container .form-control {
    padding-right: 30px;
    border-radius: 5px;
    background-color: #dee2e6e6;
}

.search-icon {
    position: absolute;
    right: 8px;
    top: 12px;
    color: #6c757d;
    pointer-events: none;
}